body {
  background-color: #F9F9F9;
  max-width: 1600px;
  margin: 0 auto; }

#DISCLAIMER {
  background-color: red;
  font-family: 'Jost', sans-serif !important;
  font-size: 15px;
  text-align: center;
  color: white;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3d3d3d;
  background: -moz-linear-gradient(0deg, #3d3d3d 0%, #4d4d4d 100%);
  background: -webkit-linear-gradient(0deg, #3d3d3d 0%, #4d4d4d 100%);
  background: linear-gradient(0deg, #3d3d3d 0%, #4d4d4d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3d3d",endColorstr="#4d4d4d",GradientType=1);
  margin-top: 100px;
  height: 100px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); }
  .navbar a img {
    max-width: 30px; }
  .navbar nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .navbar nav ul li {
      display: inline-block;
      padding: 0px 10px;
      font-family: 'PT Sans', sans-serif !important;
      font-weight: bold;
      color: #F9F9F9;
      font-size: 15px; }
  .navbar .logo {
    max-width: 195px;
    margin-left: 40px; }

.navwicon {
  margin-right: 40px; }
  .navwicon .navicon {
    max-width: 30px; }

.navbar-mobile {
  display: none; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white; }

.slider {
  margin-top: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 30px; }

.card-info {
  margin: 35px 0px 35px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .card-info .three-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303841;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
    height: 141px;
    width: 514px;
    margin-right: 30px;
    border-radius: 30px; }
    .card-info .three-cards img {
      max-width: 68px; }
    .card-info .three-cards h1 {
      font-family: 'Jost', sans-serif !important;
      font-size: 20px;
      text-align: center;
      color: #E6E6E6;
      margin: 30px;
      width: 320px; }
      .card-info .three-cards h1 p {
        font-size: 13px;
        margin: 0;
        font-weight: normal; }

h1 {
  font-family: 'Jost', sans-serif !important;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px; }

.new-arrivals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  .new-arrivals .new-items {
    margin-right: 31px;
    width: 295px;
    height: 363px;
    background-color: #E6E6E6;
    border-radius: 30px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
    text-align: center; }
    .new-arrivals .new-items .item-button a {
      background-color: #3D3D3D;
      color: #E6E6E6;
      padding: 5px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: 'Jost', sans-serif;
      font-size: 11px;
      font-weight: bold;
      border-radius: 30px;
      margin: 8px; }
    .new-arrivals .new-items img {
      margin: 30px 0px 20px 0px;
      max-width: 200px; }
    .new-arrivals .new-items p {
      font-family: 'Jost', sans-serif;
      font-size: 16px;
      width: auto;
      height: 46px;
      margin: 0px 40px 5px 40px;
      text-align: center; }
    .new-arrivals .new-items .price {
      font-size: 15px;
      margin: 12px; }

.deals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .deals .new-deals {
    margin-right: 21px;
    width: 519px;
    height: 339px;
    background-color: #E6E6E6;
    border-radius: 30px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .deals .new-deals img {
      max-width: 213px; }
    .deals .new-deals .right_info p {
      width: 256px;
      height: 72px;
      font-family: 'Jost', sans-serif;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      margin: 0; }
    .deals .new-deals .right_info .price {
      font-size: 25px;
      text-align: center;
      font-weight: normal; }
    .deals .new-deals .right_info .item-button a {
      background-color: #3D3D3D;
      color: #E6E6E6;
      padding: 5px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: 'Jost', sans-serif;
      font-size: 11px;
      font-weight: bold;
      border-radius: 30px;
      margin: 8px; }

.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 592px;
  border-radius: 30px;
  background: #3d3d3d;
  background: -moz-linear-gradient(0deg, #3d3d3d 0%, #4d4d4d 100%);
  background: -webkit-linear-gradient(0deg, #3d3d3d 0%, #4d4d4d 100%);
  background: linear-gradient(0deg, #3d3d3d 0%, #4d4d4d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3d3d",endColorstr="#4d4d4d",GradientType=1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer img {
    max-width: 250px;
    margin-bottom: 40px; }
  .footer p {
    margin-top: 50px;
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    color: #E6E6E6; }
  .footer .f-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 980px; }
    .footer .f-links .link {
      text-align: left; }
      .footer .f-links .link h1 {
        font-size: 20px;
        font-family: 'Jost', sans-serif;
        color: #E6E6E6; }
      .footer .f-links .link ul {
        font-family: 'Jost', sans-serif;
        list-style: none;
        text-align: left;
        padding: 0px;
        color: #E6E6E6; }
        .footer .f-links .link ul li {
          margin: 15px 0; }

#email-i {
  background-color: #3F3F3F;
  border: #E6E6E6;
  border-width: thin;
  border-style: solid;
  border-radius: 30px;
  width: 415px;
  height: 35px;
  text-align: center; }

::placeholder {
  color: #606060;
  font-family: 'Jost', sans-serif;
  font-style: italic; }

@media (max-width: 1615px) {
  .navbar {
    margin-left: 20px;
    margin-right: 20px; }

  .slideshow {
    margin-left: 20px;
    margin-right: 20px; }

  h1 {
    margin-left: 20px;
    margin-right: 20px; }

  .slider {
    margin-left: 20px;
    margin-right: 20px; }

  .card-info {
    grid-template-columns: 1fr 1fr; }
    .card-info .three-cards {
      width: auto;
      margin: 20px; }

  .new-arrivals {
    grid-template-columns: 1fr 1fr 1fr; }
    .new-arrivals .new-items {
      width: auto;
      margin: 20px; }

  .deals {
    grid-template-columns: 1fr 1fr; }
    .deals .new-deals {
      width: auto;
      margin: 20px; }

  .footer {
    width: auto;
    margin-left: 20px;
    margin-right: 20px; } }
@media (max-width: 1115px) {
  .card-info {
    grid-template-columns: 1fr;
    width: auto; }
    .card-info .three-cards {
      width: auto; }
      .card-info .three-cards h1 {
        font-family: 'Jost', sans-serif;
        font-size: 20px;
        text-align: center;
        color: #E6E6E6;
        margin: 30px;
        width: 320px; }
        .card-info .three-cards h1 p {
          font-size: 13px;
          margin: 0;
          font-weight: normal; } }
@media (max-width: 1035px) {
  .new-arrivals {
    grid-template-columns: 1fr 1fr; }
    .new-arrivals .new-items p {
      font-size: 18px; }

  .deals {
    grid-template-columns: 1fr; }
    .deals .new-deals {
      width: auto;
      margin: 20px; }

  .footer {
    height: 800px; }
    .footer p {
      font-size: 12px;
      margin-top: 20px; }
    .footer .f-links {
      grid-template-columns: 1fr;
      width: auto; }
      .footer .f-links .link {
        text-align: center; }
        .footer .f-links .link ul {
          text-align: center; }

  #email-i {
    width: 350px;
    height: 35px; } }
@media (max-width: 650px) {
  .new-arrivals {
    grid-template-columns: 1fr; }
    .new-arrivals .new-items {
      width: auto;
      margin: 20px;
      height: 370px; }
      .new-arrivals .new-items p {
        font-size: 17px; }
      .new-arrivals .new-items .price {
        font-size: 15px; }
      .new-arrivals .new-items .item-button a {
        font-size: 15px; }

  .deals {
    grid-template-columns: 1fr; }
    .deals .new-deals {
      width: auto;
      height: 450px;
      display: block; }
      .deals .new-deals img {
        max-width: 213px;
        margin: 40px 0px 30px 0px; }
      .deals .new-deals .right_info p {
        font-size: 17px;
        font-weight: normal;
        width: auto;
        height: 46px;
        margin: 0px 40px 5px 40px;
        text-align: center; }
      .deals .new-deals .right_info .price {
        font-size: 15px;
        text-align: center;
        font-weight: bold; }
      .deals .new-deals .right_info .item-button a {
        font-size: 15px; } }
@media (max-width: 830px) {
  .navbar {
    display: none; }

  .navbar-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3d3d3d;
    background: -moz-linear-gradient(0deg, #3d3d3d 0%, #4d4d4d 100%);
    background: -webkit-linear-gradient(0deg, #3d3d3d 0%, #4d4d4d 100%);
    background: linear-gradient(0deg, #3d3d3d 0%, #4d4d4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3d3d",endColorstr="#4d4d4d",GradientType=1);
    height: 80px;
    width: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    list-style: none;
    position: fixed;
    bottom: 0px; }
    .navbar-mobile .navicon {
      max-width: 30px; } }
.navbar-mobile-list {
  display: none; }

.navbar-mobile-list.active {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 80px;
  background: black;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); }
  .navbar-mobile-list.active ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .navbar-mobile-list.active ul li {
      padding: 20px;
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
      color: #F9F9F9;
      font-size: 15px; }

@media (max-width: 500px) {
  .card-info .three-cards h1 {
    width: 200px; } }
@media (max-width: 600px) {
  .card-info {
    grid-template-columns: 1fr; } }

/*# sourceMappingURL=home.css.map */
